.App {
  text-align: center;
}

.App-logo {
  height: 16px;
  float: left;
}

.App-button {
  float: right;
}

.App-header {
  background-color: #282c34;
  height: 16px;
  padding: 2px;
  font-size: 14px;
  color: white;
}

.App-link {
  color: #09d3ac;
}
